<nav class='top-bar'></nav>
<p></p>
<div class='small-6 columns small-centered'>
  <input type='text' ng-model="search.name" placeholder='Search by name...'>
</div>
<div class='small-10 columns small-centered'>
  <div class='row' ng-controller='DataCtrl' ng-init="buildings=<%= @buildings %>; products=<%= @products %>">
    <ul class='small-block-grid-1 medium-block-grid-2 large-block-grid-3'>
      <li ng-repeat='product in products | filter:search'>
        <div class='panel product ng-cloak'>
          <h4>{{product.name}}</h4><br>
          <strong>Build Time:</strong> {{timeStr(product.build_time_min)}}<br>
          <strong>Level Available:</strong> {{product.level_available}}<br>
          <strong>Max Sell Price:</strong> {{priceStr(product.sell_price_ten)}}<br>
          <strong>Experience:</strong> {{product.experience}}<br>
          <strong>Ingredients:</strong> {{ingredientStr(product.ingredients)}}
        </div>
      </li>
      <li ng-repeat='building in buildings | filter:search'>
        <div class='panel building ng-cloak'>
          <h4>{{building.name}}</h4><br>
          <strong>Cost:</strong> {{building.price}}<br>
          <strong>Build Time:</strong> {{building.build_time}}<br>
          <strong>Level Available:</strong> {{building.level_available}}<br>
          <strong>Produces:</strong> {{productStr(building.products)}}
        </div>
      </li>
    </ul>
  </div>
</div>