<nav class='top-bar'></nav>
Test <input ng-model='whatever'>
<h3>{{whatever}}</h3>
filter:whatever
ng-repeat
ng-show='whatever'
<h3>The home page</h3>
<div class='small-10 columns small-centered'>
  <div class='row' ng-controller='DataCtrl'>
    <ul class='small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
      <li ng-repeat='building in buildings | filter:whatever'><div class='panel'>{{building.name}}</div></li>
    </ul>
  </div>
</div>